/*
 * @author Brian Tomlinson <darthlukan@gmail.com>
 */

body {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background: #555555;
}

#home {
	height: 1000px;
}
 
#projects {
	height: 1000px !important;
}
 
#articles {
	height: 1000px;
} 

#misc {
	height: 1200px;
} 

#wrapper {
	width: 800;
	margin-left: auto;
	margin-right: auto;
}

#contact {
	height: 400px;
}

#p1, #p2, #p3 {
	height: 600px;
}

/* Place the menu outside of the page width 
 * and make it follow scroll 
 */
#menu {
	position: fixed;
	margin-left: -150px;
}

#twitter {
	padding-left: 7px;
}

#footer {
	display: block;
	background: #000000;
	padding: 1%;
	margin-left: auto;
	margin-right: autio;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
