/*
 * @author Brian Tomlinson <darthlukan@gmail.com>
 */

body {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	background: #03314B;
}

.ui-widget-content {
    background: #000000 !important;
    font-size: 90%;
}

#home {
	height: 1000px;
}

#home-content {
    width: 750px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
 
#projects {
	height: 400px;
}

/*Project accordion tabs*/
#p1, #p2, #p3 {
	height: 350px;
}

#social {
	height: 800px;
}

#twitter-widget-1 {
    padding-left: 165px;
}

#articles {
    #height: 1000px;
}

#misc {
	height: 1200px;
}

/*This works for YouTube videos*/
#misc-content {
	width: 560px;
	margin-left: auto;
	margin-right: auto;
}

#contact {
	height: 800px;
}

/*The actual form div*/
#contact-content {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

/* Place the menu outside of the page width 
 * and make it follow scroll.
 * 
 * Need to figure out how to allow it
 * enough mobility to "bounce" for
 * smaller screens like netbooks (width <= 1024px) 
 */
#menu {
	position: fixed;
	margin-left: -160px;
}

#twitter {
	padding-left: 7px;
}

#footer {
	display: block;
	background: #000000;
	padding: 1%;
	margin-left: auto;
	margin-right: auto;
}

#badge {
	width: 300px;
	margin-right: 0px;
	padding-left: 520px;
	padding-top: 20px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}