# Project files #
#################
.idea
.idea/*
.project
*.xml

# Other #
#########
.DS_Store
packages
pubsec.lock
bak.*
*.htaccess
public/js/tumblr.js

# Personal dirs #
#################
*conky*
valentine
toys
UNIX*
Lisp*