# Project files #
#################
.idea
.idea/*
.project

# Other #
#########
.DS_Store
packages
pubsec.lock
bak.*
*.htaccess
js/tumbler.js

# Personal dirs #
#################
*conky*
valentine
toys
UNIX*
Lisp*